version: '3'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: codice_fiscale_app_production
    ports:
      - "5432:5432"
  web:
    build: .
    command: bundle exec puma -C config/puma.rb
    volumes:
      - ".:/app"
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USERNAME: admin
      DB_PASSWORD: password
      DB_NAME: codice_fiscale_app_production
